.record-table {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px
}

thead {
    background-color: #222;
    color: #fff;

}

thead tr th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 110%;
    border: 2px solid #fff;
}

tbody {
    text-align: center;
}

tbody tr td {
    padding-top: 15px;
    border-bottom: 2px solid #bbb;
}

.income {
    color: green
}

.expense {
    color: red
}

.total-record {
    display: flex;
    flex-direction: row;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.total-record .username {
    flex: 40%
}

.total-record .record-count {
    flex: 60%
}

.total-record .selectContainer {
    flex: 100%;
    margin-top: 50px;
    margin-right: 10%;   
}

.total-record .selectContainer select{
    margin-left: 10px;
    width: 250px;
    height: 100%;
}

.editIcon:hover {
    cursor: pointer;
    color: #444;
}

.deleteIcon:hover {
    cursor: pointer;
    color: #444;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    color: #333;
    font-size: 90%;
    margin-top: 50px;
}


.paginationBttns {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #222;
    color: #222;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #444;
}

.paginationActive a {
    color: white;
    background-color: #222;
    cursor: default;
}

.paginationDisabled a {
    color: #222;
    background-color: #ddd;
    border: none;
}
.paginationDisabled a:hover {
    color: #222;
    background-color: #ddd;
    border: none;
    cursor: default;
}

@media (max-width: 830px) {
    .record-table {
        width: 90%;
    }

    thead tr th {
        font-size: 80%;
        border: .5px solid #fff;
    }

    tbody tr td {
        font-size: 80%;
    }

    .total-record .selectContainer {
        margin-right: 0;   
    }

    label {
        font-size: 100%;
    }
    #number {
        font-size: 100%;
    }

    .paginationBttns {
        height: 25px;
    }
    .total-record .selectContainer {
        margin-right: 5%;   
    }
}
@media (max-width: 500px) {
    .record-table {
        width: 100%;
    }
    thead tr th {
        font-size: 80%;
        border: 1px solid #fff;
    }

    tbody tr td {
        font-size: 75%;
    }


    label {
        font-size: 100%;
    }

    .total-record .selectContainer {
        margin-top: 50px;
        margin-right: 0;   
        flex: 100%;
    }

    .total-record .selectContainer select {
        margin-left: 10px;
        width: 45%;
        height: 100%;
    }
}
@media (max-width: 340px) {
    .total-record .selectContainer select {
        width: 30%;
    }
}