.record-table {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px
}
thead{
    background-color: #222;
    color: #fff;
    
}
thead tr th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 110%;
    border: 2px solid #fff;
}
tbody{
    text-align: center;
}

tbody tr td{
    padding-top: 15px;
    border-bottom: 2px solid #bbb;
}

.income{
    color: green
}

.expense{
    color:red
}

.total-record{
    margin-left: 50%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.editIcon:hover{
    cursor:pointer;
    color: #444;
}

.deleteIcon:hover{
    cursor:pointer;
    color: #444;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    margin-left: 15px;
    color: #333;
    font-size: 150%;
}

@media (max-width: 800px){
    .record-table {
        width: 90%;
    }
    thead tr th {
        font-size: 80%;
        border: .5px solid #fff;
    }
    tbody tr td{
        font-size: 80%;
    }
    h1{
        font-size: 120%;
    }
}